/.vscode
/04_06.c
/04_06.exe
/07_05.c
/07_05.exe
/09_04.c
/09_04.exe
/14_05.c
/14_05.exe
/16_04.c
/16_04.exe
/16_04_1.c
/16_04_1.exe
/21_05.c
/21_05.exe
/21_05_1.c
/21_05_1.exe
/30_04.c
/30_04.exe
/ejem_28_05.c
/ejem_28_05.exe
/exe.exe
/output
/pares_impares.c
/pares_impares.exe
/PARES_IMPARES_PROFE.c
/PARES_IMPARES_PROFE.exe
/Primos_noPrimos.c
/Primos_noPrimos.exe
/PRIMOS_NOPRIMOS_PROFE.c
/PRIMOS_NOPRIMOS_PROFE.exe
/proyecto_individual.c
/proyecto_individual.exe
/proy_ind.exe
/settings.json
/tasks.json